@import './base.css';
@import './styles.css';

#weatherapp {
  width: 100vw;
/*  padding: 2rem;*/
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
/*    place-items: center;*/
  }
}

@media (min-width: 630px) {
  .glogo {
    position: absolute;
  }
}
