/* styles.css */
@import url(
'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url(
'https://fonts.googleapis.com/css2?family=Orbitron:wght@300;700&display=swap');

/* General Styles */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafa;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Weather Widget */
.weather {
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition: width 0.5s linear;
}

.temp-box {
    width: 170px;
    text-align: center;
    flex-grow: 1;
}

.wx-parameter {
    font-size: 35px;
    font-weight: 700;
    height: auto;
    line-height: 52.5px;
}

.text-small {
    color: rgb(110, 115, 118);
}

.text-green {
    color: rgb(141, 172, 45);
    margin-right: 1px;
}

.wind-rumb {
    font-size: 1rem;
    position:relative;
    top:-28px;
}

.height130 {
    height: 130px;
}

.text-unit {
    font-size: 14px;
    line-height: 28px;
    color: rgb(159, 160, 163);
    vertical-align: text-top;
}

.time {
    font-size: 1.2rem;
    color: #4a90e2;
    margin-bottom: 0.5rem;
}

.temp-max,
.temp-min {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.wind-arrow {
    position: relative;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('wind_arrow.png');
    background-origin:padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat:no-repeat;
    background-size:100%;
    box-sizing:border-box;
    color:rgb(159, 160, 163);
    display: inline-flex;
    font-size:14px;
    height: 120px;
    line-height: 21px;
    margin: 0px;
    padding: 0px;

    text-size-adjust: 100%;
    width: 120px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link-icon-left {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.link-icon-right {
    width: 20px;
    height: 20px;
    position: relative;
    justify-self: flex-end;
    cursor: pointer;
}

.chart-link {
    background-image: url(chart.png);
    background-repeat: no-repeat;
}

.link-icon-left:hover {
    background-color: grey;
}

.toggler {
    font-size: 2em;
}

.theme-dark .toggler:hover, .theme-dark {
    background-color: darkslategrey;
}

.v-theme-light .toggler:hover, .v-theme-light {
    background-color: rgba(200, 200, 200, 0.2);
}

.v-btn.v-theme--light {
    color:rgb(80, 80, 80);
}

/*    R U N N I N G  L I N E    */
.ticker{
  height: auto;
  width:300px;
  margin:0 auto;
}
.ticker p{
  text-align:center;
  animation: text 8s infinite linear;
  padding-left: 1000px;
  white-space: nowrap;
}
@keyframes text {
  0%{
    transform: translate(0, 0);
  }
  
  100%{
    transform: translate(-160%, 0);
  }
}




