/* styles.css */
@import url(
'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url(
'https://fonts.googleapis.com/css2?family=Orbitron:wght@300;700&display=swap');

/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    color: #2b6cb0;
    margin: 0;
}

/* Weather Widget */
.weather {
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
    background-color: rgb(43, 46, 53);
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.weather h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}

.params_block_wrapper {
    border: 2px solid rgba(141, 172, 45, 0.2);
    flex-grow: 1;
 }

.params_block {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    margin: 0 1px;
    justify-content: space-between;
    flex-grow: 1;
}

.temp-box {
    width: 170px;
    text-align: center;
    flex-grow: 1;
}

.wx_parameter {
    font-size: 35px;
    font-weight: 700;
    height: auto;
    line-height: 52.5px;
}

.text-small {
    color: rgb(159, 160, 163);
}

.text-bolder {
    font-weight: 500;
}

.text-green {
    color: rgb(141, 172, 45);
    margin-right: 5px;
}

.text-white {
    color: rgb(255, 255, 255);
}

.wind-rumb {
    font-size: 1rem;
    position:relative;
    top:-20px;
}

.align-center {
    align-content: center;
}

.justify-start {
    justify-self: start;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.ml20 {
    margin-left: 20px;
}

.height130 {
    height: 130px;
}

.text-unit {
    font-size: 14px;
    line-height: 28px;
    color: rgb(159, 160, 163);
    vertical-align: text-top;
}

.time {
    font-size: 1.2rem;
    color: #4a90e2;
    margin-bottom: 0.5rem;
}

.temp-max,
.temp-min {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.desc {
    color: #555;
}

.test {
    min-width: 100%;
}

.wind-arrow {
    position: relative;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('wind_arrow.png');
    background-origin:padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat:no-repeat;
    background-size:100%;
    box-sizing:border-box;
    color:rgb(159, 160, 163);
    display: inline-flex;
    font-size:14px;
    height: 120px;
    line-height: 21px;
    margin: 0px;
    padding: 0px;

    text-size-adjust: 100%;
    width: 120px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
