/* styles.css */
@import url(
'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url(
'https://fonts.googleapis.com/css2?family=Orbitron:wght@300;700&display=swap');

/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8fafa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.glogo {
    width: 120px;
    left: 40px;
    top: 20px;
}

.header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

/* Weather Widget */
.weather {
    text-align: center;
    margin-bottom: 3rem;
    padding: 0.5rem;
}

.weather h2 {
    font-size: 2rem;
    margin-bottom: 1px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}

.params_block_wrapper {
    border: 2px solid rgba(49, 61, 18, 0.3);
    flex-grow: 1;
 }

.params_block {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    margin: 0 1px;
    justify-content: space-between;
    flex-grow: 1;
}

.temp-box {
    width: 170px;
    text-align: center;
    flex-grow: 1;
}

.wx_parameter {
    font-size: 35px;
    font-weight: 700;
    height: auto;
    line-height: 52.5px;
}

.text-small {
    color: rgb(79, 80, 81);
}

.text-bolder {
    font-weight: 500;
}

.text-green {
    color: rgb(51, 12, 66);
    margin-right: 5px;
    font-weight: 500;
}

.text-white {
    color: rgb(255, 255, 255);
}

.wind-rumb {
    font-size: 1rem;
    position:relative;
    top:-20px;
}

.rain_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
}

.align-center {
    align-content: center;
}

.justify-start {
    justify-self: start;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.ml20 {
    margin-left: 20px;
}

.height130 {
    height: 130px;
}

.text-unit {
    font-size: 14px;
    line-height: 28px;
    color: rgb(159, 160, 163);
    vertical-align: text-top;
}

.time {
    font-size: 1.2rem;
    color: #4a90e2;
    margin-bottom: 0.5rem;
}

.temp-max,
.temp-min {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.desc {
    color: #555;
}

.test {
    min-width: 100%;
}

.wind-arrow {
    position: relative;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('wind_arrow.png');
    background-origin:padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat:no-repeat;
    background-size:100%;
    box-sizing:border-box;
    color:rgb(159, 160, 163);
    display: inline-flex;
    font-size:14px;
    height: 120px;
    line-height: 21px;
    margin: 0px;
    padding: 0px;

    text-size-adjust: 100%;
    width: 120px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* HTML: <div class="loader"></div> */
.loader-container {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
  --s: 25px;
  --g: 5px;  
  
  height: calc(1.353*var(--s) + var(--g));
  aspect-ratio: 3;
  display: grid;
  justify-items: end;
  overflow: hidden;
  --_m: linear-gradient(90deg,#0000,#000 15px calc(100% - 15px),#0000);
  -webkit-mask: var(--_m);
          mask: var(--_m);
}
.loader:before { 
  content: "";
  width: calc(4*100%/3);
  background:
  conic-gradient(from -90deg at var(--s) calc(0.353*var(--s)),
      #fff 135deg,#666 0 270deg,#aaa 0); 
  --_m:
    linear-gradient(to bottom right,
       #0000 calc(0.25*var(--s)),#000 0 calc(100% - calc(0.25*var(--s)) - 1.414*var(--g)),#0000 0),
    conic-gradient(from -90deg at right var(--g) bottom var(--g),#000 90deg,#0000 0);
   -webkit-mask: var(--_m);
           mask: var(--_m);
  background-size:   calc(100%/4) 100%;
  -webkit-mask-size: calc(100%/4) 100%;
          mask-size: calc(100%/4) 100%;
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l8 1s infinite linear;
}
@keyframes l8 {
  to {transform:translate(calc(100%/4))}
}
